/* Outer Container */

#aboutMe {
    position: absolute;
    height: 2000px;
    z-index:7;
    top:100px;
    left:200px;
    width: calc(100vw - 350px);
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* Portrait (temporary substitute) */

#portrait {
    width: 200px;
    height: 300px;
    background-color: black;
    margin:40px;
    /* float:right; */
    position: relative;
    
}

/* Text */

#about-me-text {
    width: calc(100% - 300px);
    margin-left:15px;
    
}