/* Outer Container */

#about-me {
    z-index:7;
    width: calc(100vw - 600px);
    position:relative;
    display: block;
    padding:auto;
    padding-top:30px;
    padding-bottom:30px;
    top:20px;
}
#about-me-body {
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(155deg, rgba(255, 230, 0, 0.1) 1.26%, rgba(0, 255, 255, 0.1) 97.48%) */
}

/* Text */

#about-me-text {
    width: calc(100% - 400px); 
    display:inline-block;
    padding-left:60px;
    padding-right:60px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;  
}

/* Portrait (temporary substitute, I'll replace with a picture when I can get a rood one.) */

#portrait {
    width: 200px;
    height: 250px;
    background-color: black;
    margin:0;
    position: absolute;
    right:70px;
    display: inline-block;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

}

/* "Columbia University" Text */

#columbia {
    color: #5cbcf2;
    text-decoration: none;
}

#columbia::selection {
    background:#c0c0c0;
    color: #1c1c1c;
}

#columbia:hover {
    color: #bde7ff;
}

/* Technologies/Programming Languages Icons */

#technologies {
    position:relative;
    display:block;
}

@media only screen and (max-width: 1350px) {

    #about-me {
        width: calc(100vw - 400px);
    }
    #about-me-body {
        width: calc(100vw - 400px);
        display:block;
        position:relative;
    }
    #about-me-header {
        display:block;
        position: relative;
        min-width: 260px;
    }    
    #portrait {
        position: relative;
        top: 30px;
        left: 50%;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    } 
    #about-me-text {
        width: auto;
        display:flex;
        flex-direction: column;
        position:relative;
        padding-top:30px;
    }
}

@media only screen and (max-width: 820px) {
    #about-me, #about-me-body {
        width: calc(100vw - 50px);
    }
    #about-me-text {     
        padding-left:20px;
        padding-right:20px;
        padding-bottom:50px;
    }
}