#aboutMe {
    position: absolute;
    height: 2000px;
    z-index:7;
    top:100px;
    left:200px;
    width: calc(100vw - 350px);
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#portrait {
    width: 200px;
    height: 300px;
    background-color: black;
}