#credits {
    position: absolute;
    top: 3950px;
    z-index:7;
    width: calc(100vw - 300px);
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    height: auto;
}

#creditText {
    margin-top:5px;
    margin-bottom:5px;
}

a {
    color:#c0c0c0
}