#left {
    width: 2px;
    height: 100vh;
    position: fixed;
    left:0;
    background: linear-gradient(160deg, #FFE600 1.26%, #00FBFF 97.48%);
    z-index: 95;
    animation: move 5s ease infinite;
}

#right {
    width: 2px;
    height: 100vh;
    position: fixed;
    right:0;
    background: linear-gradient(160deg, #FFE600 1.26%, #00FBFF 97.48%);
    z-index: 95;
}

@keyframes move {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}

@media only screen and (max-width: 820px) {
    #left {
        display:none;
    }
    #right {
        display:none;
    }
}