/* #sudoku_desc {
    background: rgba(0, 0, 0, 1);
    position: absolute;
    display:block;
    width: 100px;
    height: 100px;
    z-index:11;
    display:none;

}

.images:hover + #sudoku_desc {
    display:block;
} */