.filler {
    background-color: rgb(20, 20, 20);
    width: calc((100vw - 400px - 60px) / 3);
    height: calc((100vw - 400px - 60px) / 3);
    position: relative;
    margin:0;
    display:inline-block;
}

#ellipsis {
    width: 100%;
    left:0px;
    margin: 0;
    color: rgb(38, 38, 38);
    font-family: Inter;
    font-size:72px;
    text-align: center;
    display:inline-block;
    top: calc(50% - 10px);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


@media only screen and (max-width: 1200px) {
    
    .filler {
        width: calc((100vw - 400px - 60px) / 2);
        height: calc((100vw - 400px - 60px) / 2);
        display:inline-block;
    }

}