#grids {
    width: 5040px;
    height: 6000px;
    position: absolute;
    top:0;
    z-index: 2;
}

#static {
    width: 5040px;
    height: 6000px;
    position: absolute;
    z-index: 2;
}

#moving {
    width: 5040px;
    height: 6000px;
    position: absolute;
    z-index: 2;
}