#my-creations {
    display:block;
    width: calc(100vw - 600px);
    z-index:7;
    margin:0;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
}

#creations-header {
    width: calc(100vw - 600px);
    position: relative;
    padding-bottom: 20px;
}

#sudoku {
    width: 100px;
    height: 100px;
    position: relative;
}