#navbar {
    position: fixed;
    top: 0px;
    background: rgba(57, 57, 57, 0.20);
    backdrop-filter: blur(10px);
    width: 100vw;
    margin: auto;
    z-index:13;
    height: 80px;
}

h4 {
    display: inline-block;
    position: relative;
    padding:auto;
    font-family: Poppins;
    background: -webkit-linear-gradient(0deg, #FFE600, #00FBFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:24px;
    left:20px;
}

h4::selection {
    background: rgba(108, 108, 108, 0);
    padding-left:5px;
}

ul {
    display: inline-block;
    padding:auto;
}

#media {
    display: inline-block;
}

#github {
    color: rgb(220, 234, 58);
    width: 48px;
    height: 48px;
    margin: 5px;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {color: rgb(220, 234, 58)}
    50% {color: rgb(56, 247, 221)}
	100% {color: rgb(220, 234, 58)}
}

#linkedin {
    display: inline-block;
    color: rgb(220, 234, 58);
    width: 48px;
    height: 48px;
}

#email {
    display: inline-block;
    color: rgb(220, 234, 58);
    width: 48px;
    height: 48px;
}