#navbar {
    position: fixed;
    top: 0px;
    background: rgba(28, 28, 28, 0.3);
    backdrop-filter: blur(8px);
    width: 100vw;
    margin: auto;
    z-index:11;
    max-width : 10000px;
    overflow-x : auto;
}

/* ul {
    max-width : 10000px;
    overflow-x : auto;
} */